<div class="app-content">
  <div class="action-btn">
      <button class="app-btn" *ngIf="!(logged | async )" (click)="login()">Login</button>
      <button class="app-btn" *ngIf="logged | async" (click)="logout()">Logout</button>
    </div>
  <div class="user-profile" *ngIf="logged | async">
    Hey {{ firstName | async }} {{ lastName | async}}! Good day ahead!
  </div>
  <button class="app-btn" *ngIf="logged | async" routerLink="user-list">Search users</button>
  <router-outlet></router-outlet>
 
</div>
