.user-list{
    margin-top: 10px;
}
.users-list {
    padding: 0;
    margin: 0;
    list-style-type: lower-roman;
    
    td {
        border: 1px solid #dcdcdc;
        padding-right: 10px;
        padding-left: 10px;
    }
}
  