.user-detal {
    margin-top: 10px;
    margin-bottom: 10px;
    .desc {
        width: 600px;
       div{
        border: 1px solid #dcdcdc;
        padding: 10px 16px;
        margin-left: 150px;
        span {
          border-right-width: 1px;
          border-right-color:  #dcdcdc ;
          border-right-style: solid;
          margin-right: 10px;
          padding-right: 10px;
        }
       }

    }
    .photo {
        float: left;
        margin-right: 10px;
    }
}